[phases.setup]
nixPkgs = ["python311", "postgresql"]

[phases.install]
cmds = [
    "pip install --upgrade pip setuptools wheel",
    "pip install -r requirements.txt"
]

[phases.build]
cmds = [
    "python manage.py collectstatic --noinput"
]

[start]
cmd = "python manage.py migrate --noinput && python manage.py shell -c \"import os; from django.contrib.auth import get_user_model; User = get_user_model(); not User.objects.filter(username='PawelW').exists() and User.objects.create_superuser('PawelW', 'admin@example.com', os.environ.get('ADMIN_PASSWORD'))\" && gunicorn nieruchomosci.wsgi --bind 0.0.0.0:$PORT"