[phases.setup]
nixPkgs = ["python311", "postgresql"]

[phases.install]
cmds = [
    "pip install --upgrade pip setuptools wheel",
    "pip install -r requirements.txt"
]

[phases.build]
cmds = [
    "python manage.py collectstatic --noinput --clear"
]

[start]
cmd = "python manage.py migrate --noinput; python create_admin.py; gunicorn nieruchomosci.wsgi --bind 0.0.0.0:$PORT --log-file -"